{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section>
    <article id="hero">
      <h1 class="heading_shadow">SPECIAL CHRISTMAS OFFER</h1>
      <p>
        Swoop in on our 30% off Reservations Throughout Fall weekends 
      </p>
      <a href="{% url 'reservation' %}" class="cta"> Reserve Now </a>
    </article>
  </section>
  <section>
    <article>
      <h2>Our Newest Menu</h2>
      <img src="{% static 'img/jollof_rice.jpg' %}">
      <p>
        Our menu consists of different seasonal items based on Nigerian, African, and Intercontinental dishes.
      </p>
      <p>
        <a href="{% url 'kitchen' %}">Check out our Monday Specials Today</a>
      </p>
    </article>
    <article>
      <h2>Reserve a Table Now</h2>
      <img src="{% static 'img/beans_plantain.jpg' %}">
      <p>
        Reserve your table for an Intercontinental dining experience, you will surely love every bit of the bite.
      </p>
      <p>
        <a href="{% url 'reservation' %}">Make a Reservation </a>
      </p>
    </article>
    <article>
      <h2>Opening Hours</h2>
      <img src="{% static 'img/white_rice.jpg' %}">
      <p>
        Dcomforters' Kitchen is open 7 days a week, and also closed on public holidays.
      </p>
      <ul>
        <li>Mon - Fri: 10am - 10pm</li>
        <li>Sat: 12pm - 10pm</li>
        <li>Sun: 3pm - 9pm</li>
      </ul>
    </article>
  </section>
{% endblock %}
