{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <article>
    <h1>Our Menu</h1>
        <div class="menu-columns">
        {% for item in menu %}
            <div class="menu-item">
            <div class="menu-image">
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.food_name }}">
                {% else %}
                <img src="{% static 'img/default_image.jpg' %}" alt="Default Image">
                {% endif %}
            </div>
            <h2>{{ item.food_name }}</h2>
            <p>{{ item.cuisine }}</p>
            <span class="menu-price">${{ item.price }}</span>
            <a href="{% url 'menu_details' item.id %}">View Details</a>
            </div>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  </article>
</section>
{% endblock %}
