{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <article>
    <div class="breadcrumb">
      <a href="{% url 'home' %}">Home</a> /
      <a href="{% url 'kitchen' %}">Kitchen Menu</a> /
      {{ menu.food_name }}
    </div>

    <div class="menu-details-container">
      <div class="menu-image-large">
        {% if menu_item.image %}
          <img src="{% static 'img/menu_items/' %}{{ menu_item.food_name }}.jpg" alt="{{ menu_item.food_name }}">
        {% else %}
          <img src="{% static 'img/default_dish.jpg' %}" alt="Default Image">
        {% endif %}
      </div>

      <div class="menu-info">
        <h1>{{ menu_item.food_name }}</h1>
        <h2>Cuisine: {{ menu_item.cuisine }}</h2>
        <p class="menu-description">{{ menu_item.item_description }}</p>
        <p class="menu-price-large">Price: ${{ menu_item.price }}</p>
        <a href="{% url 'reservation' %}" class="cta-button">Reserve a Table</a>
      </div>
    </div>
  </article>
</section>
{% endblock %}
