{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <article>
    <div class="breadcrumb">
      <a href="{% url 'home' %}">Home</a> /
      <a href="{% url 'kitchen' %}">Kitchen Menu</a> /
      {{ menu_item.food_name }}
    </div>

    <div class="menu-details-container">
      <div class="menu-image-large">
        {% if menu_item.image %}
          <img src="/static/img/menu_items/{{menu_item.food_name}}.jpg" alt="{{ menu_item.food_name}}" />
          <!--<img src="{{ menu_item.image.url }}" alt="{{ menu_item.food_name }}"> This works when DEBUG is True (Test mode)-->
        {% else %}
          <img src="{% static 'img/default_dish.jpg' %}" alt="Default Image">
        {% endif %}
      </div>

      <div class="menu-info">
        <h1>{{ menu_item.food_name }}</h1>
        <h2>Cuisine: {{ menu_item.cuisine }}</h2>
        <p class="menu-description">{{ menu_item.item_description }}</p>
        <p class="menu-price-large">Price: ${{ menu_item.price }}</p>
        <a href="{% url 'reservation' %}" class="cta-button">Reserve a Table</a>

        <!-- Order Modal Trigger Button -->
        <button class="cta-button animate-bounce" id="openOrderModal">Order Now</button>

        <!-- Order Modal -->
        <div id="orderModal" class="modal">
          <div class="modal-content">
            <span class="close" id="closeOrderModal">&times;</span>
            <h2>Place Your Order</h2>
            <!--Old Single-item flow directed to modal when Order Now is clicked-->
            <!--<form method="post" action="{% url 'place_order' menu_item.id %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="cta-button">Submit Order</button>
            </form>-->
            <form method="post" action="{% url 'add_to_cart' menu_item.id %}">
              {% csrf_token %}
              <label for="quantity">Quantity:</label>
              <input type="number" name="quantity" min="1" value="1" required>

              <label for="order_notes">Order Notes:</label>
              <textarea name="order_notes" rows="3"></textarea>

              <button type="submit" class="cta-button animate-bounce">Add to Cart</button>
            </form>
          </div>
        </div>

      </div>

    </div>
  </article>
</section>

<script>
  const openModalBtn = document.getElementById("openOrderModal");
  const closeModalBtn = document.getElementById("closeOrderModal");
  const modal = document.getElementById("orderModal");

  openModalBtn.onclick = function () {
    modal.style.display = "block";
  };

  closeModalBtn.onclick = function () {
    modal.style.display = "none";
  };

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>

{% endblock %}
